In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

covid_stats = pd.read_excel("../Data/Covid19.xlsx", sheet_name="Veckodata Riket")

In [ ]:
# alla kolumner int eller float
# Antal_avlidna_milj_inv_vecka - float
# Kum_antal_avlidna_milj_inv - float
# resten int

covid_stats.info()

# 13 kolumner
# 142 rader

In [5]:
covid_stats.describe()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
count,142.000000,142.000000,142.000000,142.000000,142.000000,1.420000e+02,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,2020.957746,26.035211,18378.345070,177.197183,354.169014,1.125288e+06,10843.281690,67.176056,6000.464789,144.936620,14.000000,12321.154930,1187.840841
std,0.797809,14.228835,38569.455753,371.689114,725.677174,9.618084e+05,9265.100705,73.435000,3076.853993,173.659331,16.796551,6103.235009,587.255605
min,2020.000000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,14.000000,3075.000000,30.000000,59.750000,1.014860e+05,982.500000,14.000000,2643.750000,25.250000,2.425000,5880.000000,569.375000
50%,2021.000000,26.000000,5531.000000,53.000000,107.500000,1.085848e+06,10461.500000,27.500000,7559.500000,77.500000,7.450000,14610.500000,1407.650024
75%,2022.000000,37.750000,21125.000000,203.500000,421.250000,2.423603e+06,23350.500000,109.000000,8863.250000,185.500000,17.950000,17177.750000,1654.999969
max,2022.000000,53.000000,265043.000000,2554.000000,5024.000000,2.609725e+06,25144.000000,289.000000,9539.000000,664.000000,64.300003,20581.000000,1982.900024

In [ ]:
covid_stats.value_counts()

In [7]:
covid_stats.columns

Index(['år', 'veckonummer', 'Antal_fall_vecka', 'Antal_fall_100000inv_vecka',
       'Antal_fall_100000inv_14dagar', 'Kum_antal_fall', 'Kum_fall_100000inv',
       'Antal_nyaintensivvårdade_vecka', 'Kum_antal_intensivvårdade',
       'Antal_avlidna_vecka', 'Antal_avlidna_milj_inv_vecka',
       'Kum_antal_avlidna', 'Kum_antal_avlidna_milj_inv'],
      dtype='object')

In [8]:
covid_stats.index

RangeIndex(start=0, stop=142, step=1)

In [13]:

covid_stats.head(10)
year = covid_stats["år"]
weeknumber = covid_stats["veckonummer"]



year_weeknumber = pd.concat([year, weeknumber], axis= "columns")
year_weeknumber

       år  veckonummer
0    2020            6
1    2020            7
2    2020            8
3    2020            9
4    2020           10
..    ...          ...
137  2022           38
138  2022           39
139  2022           40
140  2022           41
141  2022           42

[142 rows x 2 columns]